* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

html {

    // *,
    *:before,
    *:after {
        box-sizing: inherit;
        list-style: none;
    }
}

ul {
    margin: 0px;
    padding: 0px;

}

p {
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #EFECE7;
}

.container {
    width: 60%;
    margin: 0 auto;
}

// ---------------------------
nav {
    z-index: 10000;
    width: 100%;
    height: 80px;
    position: fixed;

    .container {
        width: 75%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        position: relative;

        .menu_bar {
            display: none;
            .menu{

                a{
                    height: calc(100% / 5);
                    text-decoration:none;
                }
            }
        }

        a {
            height: 80px;

            .logo {
                height: 80px;
                padding: 5px 0;
            }
        }

        .menu_main {
            height: 100%;

            ul {
                display: flex;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-decoration: none;

                    li {
                        margin: 0 15px;
                        color: #000;
                    }
                }


            }
        }
    }

    .back_top {
        width: 80px;
        height: 80px;
        background-image: url(../picture/information-picture/回到最上面.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-top: 675px;
        margin-left: 1785px;
    }
}



// 主要區塊
main {

    #box {
        .container {

            .box_header {
                padding-top: 80px;

                h1 {

                    color: #988870;
                    font-size: 48px;
                    font-weight: 100;
                }
            }

            .box_contact {

                // background-color: #7B7673;
                width: 100%;
                height: 350px;
                display: flex;
                justify-content: space-between;

                .box_contact_pic {
                    width: 30%;

                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .one {
                    background-image: url(../img/members1.jpg);
                }

                .two {
                    background-image: url(../img/members2.jpg);
                    background-position: top;
                }

                .three {
                    background-image: url(../img/members3.jpg);
                }

                .four {
                    background-image: url(../img/members4.jpg);
                    background-position: top;
                }

                .five {
                    background-image: url(../img/members5.jpg);
                }


                .box_contact_text {

                    width: 60%;

                    h2 {
                        margin: 0 0 25px 0;
                        font-size: 34px;
                    }

                    p {
                        font-size: 16px;
                        letter-spacing: 2px;
                        line-height: 30px;
                    }
                }
            }
        }

        // 底成圖片

    }

    #footer_box {
        display: flex;
        height: 300px;
        background-color: #EFECE7;
        justify-content: center;
        align-items: flex-end;

        img {
            height: 200px;
        }
    }

}

footer {

    .Copyright {
        // width: 100%;
        color: #7B7673;
        text-align: center;
        letter-spacing: 5px;
        padding: 10px 0;
        font-size: 12px;
    }
}


@media (max-width: 1280px) {
    main {
        #box {
            .container {
                .box_contact {

                    .box_contact_pic {
                        width: 40%;
                    }

                    .box_contact_text {
                        width: 55%;
                    }
                }
            }
        }

    }
}

@media (max-width: 980px) {
    main {
        #box {
            .container {
                width: 80%;

                .box_contact {

                    .box_contact_pic {
                        width: 40%;
                    }

                    .box_contact_text {
                        width: 55%;
                    }
                }
            }
        }

    }
}

@media (max-width: 768px) {

    nav {
        a {
            .back_top {
                margin-left: 82%;
            }
        }
    }

    nav {
        .container {
            width: 100%;
            padding: 0px;

            .menu_bar {
                margin-top: 20px;
                margin-left: 20px;

                label {




                    line-height: 50px;

                    i {
                        font-size: 38px;
                    }
                }

                display: inline-block;

                // ----------------------------
                input {
                    display: none;

                }

                input:checked~.menu {
                    max-height: 300px;
                }

                .menu {
                    clear: both;
                    background: #fff;
                    max-height: 0;
                    overflow: hidden;
                    transition: .5s;
                    margin-left: -20px;

                    li {
                        text-align: center;
                        border-bottom: 1px solid #efefef;
                        width: 100vw;

                        a {
                            display: block;
                            padding: 10px 0;
                            font-size: 18px;
                            color: #5d5d5d;

                            &:hover {
                                background: #5d5d5d;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            a {
                .logo {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .menu_main {
                display: none;
            }
        }
    }

    main {
        #box {
            .container {
                width: 80%;

                .box_contact {
                    height: 300px;

                    .box_contact_pic {
                        width: 40%;
                    }

                    .box_contact_text {
                        width: 55%;
                    }
                }
            }
        }
        #footer_box{
            height: 220px;
            img{
                height: 140px;
            }
        }

    }
}

@media (max-width: 700px) {
    main {
        #box {
            .container {
                width: 80%;

                .box_contact {
                    height: 270px;

                    .box_contact_pic {
                        width: 40%;
                    }

                    .box_contact_text {
                        width: 55%;

                        h2 {
                            margin: 0 0 25px 0;
                            font-size: 30px;
                        }

                        p {
                            font-size: 14px;
                            letter-spacing: 2px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width: 555px) {
    main {
        #box {
            .container {
                width: 80%;

                .box_contact {
                    height: 270px;

                    .box_contact_pic {
                        width: 40%;
                    }

                    .box_contact_text {
                        width: 55%;

                        h2 {
                            margin: 0 0 15px 0;
                            font-size: 26px;
                        }

                        p {
                            font-size: 14px;
                            letter-spacing: 2px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        #footer_box{
            height: 160px;
            img{
                height: 90px;
            }
        }

    }
    footer{
        
        .Copyright{
            letter-spacing: 0px;
            font-size: 10px;
        }
    }
}

@media (max-width: 495px) {
    main {
        #box {
            .container {
                width: 80%;

                .box_contact {
                    // justify-content: unset;
                    flex-direction: column;
                    height: 500px;

                    .box_contact_pic {
                        width: 100%;
                        height: 400px;
                    }

                    .box_contact_text {
                        width: 100%;

                        h2 {
                            margin: 15px 0 15px 0;
                            font-size: 26px;
                        }

                        p {
                            font-size: 14px;
                            letter-spacing: 1px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }

    }
}